@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("../fonts/ProximaNovaRegular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("../fonts/ProximaNovaSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("../fonts/ProximaNovaBold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  src: url("../fonts/ProximaNovaBlack.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../fonts/GeorgiaItalic.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: inherit;
}

html {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.container {
  width: 1300px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

.container--flex {
  display: flex;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.intro {
  background-image: url("../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* height: 870px; */
  height: 990px;
  position: relative;
}

.logo {
  width: 120px;
  height: 120px;
  background-color: #2b2a29;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 85px;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 756px; */
}

.navigation__item {
  margin-left: 15px;
}

.navigation__link {
  color: #2b2a29;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 16px;
  font-weight: 600;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "Главная" */
  letter-spacing: 0.4px;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: underline;
}

.address {
  font-style: normal;
  z-index: 1;
}

.recall {
  color: #ffffff;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 16px;
  font-weight: 600;
  /* line-height: 60px; */
  /* text-decoration: underline; */
  text-transform: uppercase;
  /* Text style for "обратный з" */
  letter-spacing: 0.4px;
  text-decoration: none;
}

.intro .recall:hover,
.intro .recall:focus {
  color: #ff4040;
}

.header__navigation .recall:hover,
.header__navigation .recall:focus {
  color: #f3b234;
}

.phone {
  color: #2b2a29;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 16px;
  font-weight: 600;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "+7 962 459" */
  letter-spacing: 0.4px;
  margin-left: 30px;
  text-decoration: none;
}

.phone:hover,
.phone:focus {
  text-decoration: underline;
}

.intro__navigation--center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  color: #ffffff;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 14px;
  font-weight: 600;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "у, знать ф" */
  letter-spacing: 0.35px;
  width: 334px;
  height: 60px;
  border-radius: 6px;
  /* border: 1px solid #eaf3f4; */
  background-color: #ff4040;
  /* padding: 20px 22px; */
  text-decoration: none;
  display: block;
  max-width: 334px;
  margin: 0 auto;
  margin-top: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order:hover,
.order:focus {
  cursor: pointer;
  background-color: #ff5353;
}

.order:active {
  background-color: #e53939;
}

.intro__title {
  color: #2b2a29;
  /* font-family: "Proxima Nova - Black"; */
  font-size: 60px;
  font-weight: 900;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "Г, рузопер" */
  letter-spacing: 0.3px;
  /* Text style for "в Ставропо" */
  /* color: #ff4040; */
  /* letter-spacing: 0.3px; */
  text-align: center;
  margin: 0;
}

.intro__title b {
  color: #ff4040;
}

.intro__footer {
  background-color: #2b2a29;
}

.features {
  background-color: #2b2a29;
  height: 120px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features__item {
  display: flex;
  align-items: center;
}

.features__item svg {
  margin-right: 25px;
}

.features__item p {
  color: #ffffff;
  /* font-family: "Proxima Nova"; */
  font-size: 18px;
  font-weight: 400;
  /* line-height: 60px; */
  /* Text style for "По фиксиро" */
  letter-spacing: 0.09px;
  margin: 0;
}

.services {
  padding-top: 100px;
  /* padding-bottom: 70px; */
}

.title {
  color: #2b2a29;
  /* font-family: "Proxima Nova - Black"; */
  font-size: 48px;
  font-weight: 900;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "Н, аши усл" */
  letter-spacing: 0.24px;
  margin: 0;
  text-align: center;
}

.services__title {
  margin-bottom: 110px;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.services__item {
  /* margin-right: 30px; */
  margin: 0 auto;
  margin-bottom: 30px;
}

.services__item:first-child {
  margin-left: 0;
}

.services__item:nth-child(4n + 1) {
  margin-left: 0;
}

.services__item:nth-child(4n) {
  margin-right: 0;
}

.item {
  width: 300px;
  height: 395px;
  border: 1px solid #d9d7d5;
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

.item:hover,
.item:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  /* cursor: pointer; */
}

.item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.item h3 {
  color: #2b2a29;
  /* font-family: "Proxima Nova"; */
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  /* padding: 0 40px; */
  padding-top: 230px;
}

.item span {
  color: #ff4040;
  /* font-family: "Proxima Nova"; */
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.item__info {
  color: #a7a39e;
  /* font-family: "Proxima Nova"; */
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
}

.item--one {
  background-image: url("../img/services-image-one.jpg");
}

.item--two {
  background-image: url("../img/services-image-two.jpg");
}

.item--three {
  background-image: url("../img/services-image-three.jpg");
}

.item--four {
  background-image: url("../img/services-image-four.jpg");
}

.item--five {
  background-image: url("../img/services-image-five.jpg");
}

.item--six {
  background-image: url("../img/services-image-six.jpg");
}

.item--seven {
  background-image: url("../img/services-image-seven.jpg");
}

.item--eight {
  background-image: url("../img/services-image-eight.jpg");
}

.item--nine {
  background-image: url("../img/services-image-nine.jpg");
}

.item--ten {
  background-image: url("../img/services-image-ten.jpg");
}

.item--eleven {
  background-image: url("../img/services-image-eleven.jpg");
}

.item--twelve {
  background-image: url("../img/services-image-twelve.jpg");
}

.devider {
  /* height: 385px; */
  /* background-color: #ffbe40; */
  background-image: url("../img/devider-background-image.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 513px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devider__order {
  margin: 0;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 90px;
}

.reviews__title {
  margin-bottom: 90px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  /* margin-bottom: 90px; */
}

.reviews__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  box-shadow: inset 50px 0px 50px 0px #ffffff;
  z-index: 1;
}

.reviews__list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  width: 100px;
  height: 100%;
  box-shadow: inset -50px 0px 50px 0px #ffffff;
  z-index: 1;
}

.reviews__quote {
  /* width: 636px; */
  height: 295px;
  border-radius: 6px;
  border: 2px solid #d9d7d5;
  background-color: #ffffff;
  padding: 35px;
  position: relative;
}

.reviews__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.reviews__quote span {
  color: #2b2a29;
  /* font-family: "Proxima Nova"; */
  font-size: 18px;
  font-weight: 700;
  /* line-height: 60px; */
  /* Text style for "Анастасия" */
  letter-spacing: 0.09px;
}

.reviews__quote time {
  color: #a7a39e;
  /* font-family: "Proxima Nova"; */
  font-size: 14px;
  font-weight: 400;
  /* line-height: 60px; */
  /* Text style for "29 января" */
  letter-spacing: 0.07px;
  margin: 0;
}

.reviews__quote p {
  color: #454443;
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  /* Text style for "С, разу хо" */
  letter-spacing: 0.08px;
  margin: 0;
}

.reviews__quote img {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.about {
  /* display: flex; */
  /* align-items: center; */
  padding-bottom: 90px;
}

.about__info {
  width: 50%;
  padding: 0 15px;
}

.about__text {
  width: 50%;
  padding: 0 15px;
}

.about__title {
  margin-bottom: 90px;
}

.about__info-text {
  color: #454443;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for ""Аврора"об" */
  /* font-family: "Proxima Nova - Regular"; */
  /* font-weight: 400; */
  letter-spacing: 0.08px;
  /* Text style for "Мы гаранти" */
  /* font-family: "Proxima Nova Rg"; */
  margin: 0;
  margin-bottom: 20px;
}

.about__info-title {
  color: #454443;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08px;
  margin: 0;
  margin-bottom: 20px;
}

.about__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.about__info-list li {
  color: #454443;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for ""Аврора"об" */
  /* font-family: "Proxima Nova - Regular"; */
  /* font-weight: 400; */
  letter-spacing: 0.08px;
  /* Text style for "Мы гаранти" */
  /* font-family: "Proxima Nova Rg"; */
  /* margin: 0; */
}

.about__text-list {
  counter-reset: list;
}

.about__text-list li {
  list-style-type: none;
  color: #454443;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "Чистые меб" */
  letter-spacing: 0.08px;
  margin-bottom: 15px;
  display: flex;
}

.about__text-list li::before {
  counter-increment: list;
  content: counter(list) "";
  min-width: 43px;
  height: 43px;
  background-color: #ffbe40;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  color: #2b2a29;
  /* font-family: "Proxima Nova - Black"; */
  font-size: 24px;
  font-weight: 900;
  /* line-height: 24px; */
  /* Text style for "1," */
  letter-spacing: 0.12px;
}

.footer {
  min-height: 170px;
  background-color: rgba(43, 42, 41, 0.1);
  /* opacity: 0.1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #a7a39e;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  /* line-height: 24px; */
  /* Text style for "Н, е являе" */
  letter-spacing: 0.08px;
  margin: 0;
}

.header {
  /* height: 80px; */
  background-color: #2b2a29;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__navigation {
  margin: 0;
}

.header__logo {
  width: auto;
  height: auto;
  height: 80px;
}

.header__logo img {
  width: 52px;
  height: 60px;
}

.header .navigation__link {
  color: #ffffff;
}

.header .recall {
  color: #ff4040;
}

.header .phone {
  color: #ffffff;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs a {
  color: #9e9c99;
  /* font-family: "Proxima Nova"; */
  font-size: 14px;
  font-weight: 400;
  /* line-height: 18px; */
  /* Text style for "Г, лавная" */
  letter-spacing: 0.35px;
  text-decoration: underline;
  /* Text style for "/ Квартирн" */
  /* letter-spacing: 0.35px; */
  text-decoration: none;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  text-decoration: underline;
}


.breadcrumbs a[href]::after {
  content: "/";
  margin: 0 5px;
}

.move {
  padding: 50px 0;
}

.title--inner {
  text-align: left;
  margin-bottom: 50px;
}

.text--inner {
  color: #454443;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.08px;
  margin: 0;
}

.move .wrapper {
  display: flex;
  justify-content: space-between;
}

.move__info {
  padding-right: 30px;
}

.move__contacts {
  min-width: 414px;
  /* display: flex; */
  /* align-items: center; */
  background-color: rgba(255, 190, 64, 0.3);
  height: 470px;
  border-radius: 14px;
  padding: 30px;
  /* margin: 0 auto; */
}

.move__contacts table {
  margin: 0 auto;
  margin-bottom: 50px;
}

.move__contacts td:first-child {
  color: #454443;
  /* font-family: "Proxima Nova"; */
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* Text style for "с водителе" */
  letter-spacing: 0.45px;
  padding: 0;
  margin-right: 30px;
  display: block;
}

.move__contacts td:last-child {
  color: #2b2a29;
  /* font-family: "Proxima Nova"; */
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  /* Text style for "от 2 500 р" */
  letter-spacing: 0.45px;
  padding: 0;
}

.move__contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.move__contacts li {
  /* text-align: center; */
  margin-bottom: 30px;
}

.move__contacts a {
  color: #ffffff;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 14px;
  font-weight: 600;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "Н, АПИСАТЬ" */
  letter-spacing: 0.35px;
  width: 260px;
  /* height: 50px; */
  border-radius: 6px;
  /* background-color: #14bf55; */
  /* display: flex;
align-items: center;
justify-content: center; */
  /* display: block; */
  padding: 16px 44px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.whatsup-link {
  background-color: #14bf55;
}

.whatsup-link:hover,
.whatsup-link:focus {
  background-color: #2bc566;
}

.whatsup-link:active {
  background-color: #12ab4c;
}

.telegram-link {
  background-color: #00a8ec;
}

.telegram-link:hover,
.telegram-link:focus {
  background-color: #19b0ed;
}

.telegram-link:active {
  background-color: #0097d4;
}

.recall-link {
  background-color: #ff4040;
}

.recall-link:hover,
.recall-link:focus {
  background-color: #ff5353;
}

.recall-link:active {
  background-color: #e53939;
}

.main {
  flex-grow: 1;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts__list a {
  display: flex;
  align-items: center;
  color: #2b2a29;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  /* line-height: 60px; */
  /* text-transform: uppercase; */
  /* Text style for "+ 7 928 38" */
  letter-spacing: 0.08px;
  text-decoration: none;
}

.contacts__list a:hover,
.contacts__list a:focus {
  text-decoration: underline;
}

.contacts__list a::before {
  content: "";
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 34px;
  height: 34px;
  background-color: #ffbe40;
  border-radius: 50%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-right: 20px;
}

.contacts__list .contacts__mail::before {
  background-image: url("../img/mail-icon.svg");
}

.popup {
  width: 590px;
  height: 675px;
  position: relative;
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: #2b2a29; */
  background-image: url("../img/popup-background-image.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.popup__title {
  color: #2b2a29;
  /* font-family: "Proxima Nova - Black"; */
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  /* Text style for "з, аказать" */
  letter-spacing: 0.15px;
  margin: 0;
  padding-top: 150px;
  max-width: 315px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

.popup .form {
  width: 315px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.popup input {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #f3b234;
  background-color: #ffffff;
  padding: 0 20px;
  text-align: center;
  color: #9e9c99;
  /* font-family: "Proxima Nova"; */
  font-size: 16px;
  font-weight: 400;
  /* line-height: 18px; */
  /* Text style for "Н, омер те" */
  letter-spacing: 0.4px;
}

.popup label {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.popup button {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  /* border: 1px solid #eaf3f4; */
  border: none;
  background-color: #ff4040;
  color: #ffffff;
  /* font-family: "Proxima Nova - Semibold"; */
  font-size: 14px;
  font-weight: 600;
  /* line-height: 60px; */
  text-transform: uppercase;
  /* Text style for "О, ТПРАВИТ" */
  letter-spacing: 0.35px;
  margin: 0 auto;
}

.popup button:hover {
  cursor: pointer;
  background-color: #ff5353;
}

.popup button:active {
  background-color: #e53939;
}

.popup__text {
  max-width: 285px;
  margin: 0 auto;
  color: #2b2a29;
  /* font-family: "Proxima Nova"; */
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.3px;
  margin: 0 auto;
  text-align: center;
}

.move__contacts--mobile {
  display: none;
}

.navigation-mobile {
  display: none;
}

.popup-close {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  /* line-height: unset;
  opacity: 1;
  padding: 0; */
}

.popup-close:hover,
.popup-close:focus {
  background-color: #ff4040;
}

.popup-close:hover path,
.popup-close:focus path {
  fill: #ffffff;
}

.popup-wrapper {
  width: 590px;
  height: 675px;
  margin: auto;
}

.slick-list {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}


@media (max-width: 1300px) {

  .container {
    width: 100%;
    min-width: 280px;
    padding: 0 20px;
  }

  .navigation {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .header {
    height: 50px;
    display: flex !important;
  }

  .header__logo {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .header__logo img {
    /* width: 47px; */
    /* height: 53px; */
    width: 29px;
    height: 33px;
  }

  .intro {
    background-image: url("../img/mobile-intro-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-size: contain;
    height: 870px;
    /* min-height: 640px; */
    background-color: #ffbe40;
  }

  .intro__title {
    font-size: 30px;
    padding-top: 90px;
  }

  .features {
    height: auto;
    max-height: 260px;
  }

  .features__list {
    flex-direction: column;
    padding: 20px 0;
    align-items: flex-start;
  }

  .features__item {
    margin-bottom: 20px;
    width: 100%;
  }

  .features__item:last-child {
    margin: 0;
  }

  .features__item img {
    width: 75px;
  }

  .features__item p {
    font-size: 16px;
  }

  .features__item--one svg {
    min-width: 49px;
    max-width: 49px;
    height: 40px;
    margin-right: 40px;
  }

  .features__item--two svg {
    min-width: 49px;
    max-width: 49px;
    height: 36px;
    margin-right: 40px;
  }

  .features__item--three svg {
    min-width: 49px;
    max-width: 49px;
    height: 40px;
    margin-right: 40px;
  }

  .order {
    width: 100%;
    margin-top: 420px;
    text-align: center;
  }

  .services {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .services__title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .services__item {
    margin-bottom: 10px;
    width: 50%;
  }

  .services__item:first-child {
    padding-right: 5px;
    margin: 0;
    margin-bottom: 10px;
  }

  .services__item:nth-child(2n) {
    padding-left: 5px;
    margin: 0;
    margin-bottom: 10px;
  }

  .services__item:nth-child(2n + 1) {
    padding-right: 5px;
    margin: 0;
    margin-bottom: 10px;
  }

  .item {
    width: 100%;
    height: 220px;
    padding: 10px;
  }

  .item h3 {
    padding: 0;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .item span {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .item a {
    height: unset;
  }

  .item {
    background-size: contain;
  }

  .item__info {
    font-size: 12px;
  }

  .devider {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .reviews {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reviews__title {
    margin-bottom: 65px;
  }

  .reviews__quote {
    width: 100%;
    height: 440px;
    margin: 0;
    padding: 20px;
  }

  .reviews__quote img {
    display: none;
  }

  .reviews__list::before {
    content: none;
  }

  .reviews__list::after {
    content: none;
  }

  .slick-dots {
    top: -45px;
    bottom: unset;
  }

  .slick-dots li button {
    width: 16px;
    height: 16px;
    background-color: #e9e9e9;
    border-radius: 50%;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 12px;
    color: #ffbe40;
    width: 16px;
    height: 16px;
    top: -1px;
  }

  .slick-dots li button:before {
    opacity: 0;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 20px;
  }

  .container--mobile {
    flex-direction: column;
    padding: 0;
  }

  .about__info {
    width: 100%;
    padding: 0 20px;
  }

  .about__text {
    width: 100%;
    order: -1;
    padding: 0;
  }

  .about__text-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .about__text-list li::before {
    content: none;
  }

  .about__text-list li {
    padding: 20px;
  }

  .about__text-list li:nth-child(2n - 1) {
    background-color: rgba(255, 190, 64, 0.2);
  }

  .about__text-list li:last-child {
    margin-bottom: 40px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about {
    padding-bottom: 20px;
  }

  .footer p {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 0 20px;
  }

  .move .wrapper {
    flex-direction: column;
    justify-content: unset;
  }

  .move {
    padding: 40px 0;
  }

  .breadcrumbs {
    margin-bottom: 30px;
  }

  .move__info {
    padding: 0;
    margin-bottom: 30px;
  }

  .move__contacts {
    display: none;
  }

  .move__contacts--mobile {
    display: block;
  }

  .move__contacts ul {
    display: none;
  }

  .move__contacts {
    min-width: 100%;
    height: auto;
    padding: 40px 20px;
    border-radius: 0;
  }

  .move__contacts table {
    margin: 0 auto;
    max-width: 425px;
    width: 100%;
  }

  .move__contacts td:last-child {
    text-align: right;
  }

  .move__info {
    margin-bottom: 0;
  }

  .slick-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .popup-mobile {
    width: 300px;
    height: 440px;
    border-radius: 14px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
  }

  .popup-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .popup-mobile li {
    margin-bottom: 30px;
  }

  .popup-mobile a {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    /* font-family: "Proxima Nova - Semibold"; */
    font-size: 14px;
    font-weight: 600;
    /* line-height: 60px; */
    text-transform: uppercase;
    /* Text style for "Н, АПИСАТЬ" */
    letter-spacing: 0.35px;
  }

  .popup-mobile .popup-mobile-close {
    margin-bottom: 30px;
    /* max-width: 50px; */
    /* height: 50px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .popup-mobile .recall-link {
    background-color: #ff7f40;
  }

  .popup-mobile .call-link {
    background-color: #ff4040;
  }

  .popup-mobile .recall-link:hover,
  .popup-mobile .recall-link:focus {
    background-color: #ff8b53;
  }

  .popup-mobile .recall-link:active {
    background-color: #e57239;
  }

  .popup-mobile .call-link:hover,
  .popup-mobile .call-link:focus {
    background-color: #ff5353;
  }

  .popup-mobile .call-link:active {
    background-color: #e53939;
  }

  .popup-mobile--order {
    background-color: #ffbe40;
  }

  .popup-mobile--order h2 {
    color: #2b2a29;
    /* font-family: "Proxima Nova - Black"; */
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    /* Text style for "з, аказать" */
    letter-spacing: 0.12px;
    margin: 0;
    text-align: center;
    margin-bottom: 60px;
  }

  .popup-mobile--order .form {
    display: flex;
    flex-direction: column;
  }

  .popup-mobile--order label {
    margin-bottom: 30px;
  }

  .popup-mobile--order input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #9e9c99;
    /* font-family: "Proxima Nova"; */
    font-size: 16px;
    font-weight: 400;
    /* line-height: 60px; */
    /* Text style for "Н, омер те" */
    letter-spacing: 0.4px;
    text-align: center;
    padding: 0 20px;
    border: none;
  }

  .popup-mobile--order button {
    height: 50px;
    border-radius: 6px;
    background-color: #ff7f40;
    color: #ffffff;
    /* font-family: "Proxima Nova - Semibold"; */
    font-size: 14px;
    font-weight: 600;
    /* line-height: 60px; */
    text-transform: uppercase;
    /* Text style for "З, АКАЗАТЬ" */
    letter-spacing: 0.35px;
    border: none;
    margin-bottom: 30px;
  }

  .popup-mobile--order p {
    color: #2b2a29;
    /* font-family: "Proxima Nova"; */
    font-size: 12px;
    font-weight: 400;
    /* line-height: 18px; */
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.3px;
    margin: 0;
  }

  .popup-mobile--order .popup-mobile-close {
    margin: 0;
  }

  .popup-mobile--order .popup-mobile-close path {
    fill: #e79e10;
  }

  .mobile-menu-close {
    border-bottom: 1px solid #f2f0ed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    width: 100%;
    height: 60px;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  .mobile-menu li {
    border-bottom: 1px solid #f2f0ed;
    width: 100%;
    height: 50px;
  }

  .mobile-menu li a {
    color: #2b2a29;
    /* font-family: "Proxima Nova"; */
    font-size: 18px;
    font-weight: 400;
    /* line-height: 18px; */
    /* Text style for "ГЛАВНАЯ" */
    letter-spacing: 0.45px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 60px;
  }

  .mobile-menu span {
    background-image: url("../img/mobile-menu-arrow-icon.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    width: 100%;
    height: 196px;
    display: flex;
  }

  body[data-menu-position="open"] .mobile-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  body[data-menu-position="open"] .jPanelMenu-panel {
    overflow-y: hidden;
  }

}
